.admin {
    width: 100%;
    max-width: 1440px;
    height: 70vh;
    overflow: hidden;
    margin: 0 auto;
}

.admin__field {
    padding: 2rem;
}

.field {
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.admin__blog__title,
.admin__blog__main {
    width: 40%;
}
