.primary {
    border-radius: 3px;
    background-color: transparent;
    border-bottom: 3px solid #1f2032;
    text-transform: capitalize;
}

.primary > a > svg {
    transition: all .3s ease-in;
}

.primary:hover > a > svg {
    transform: translateX(5px);
}

:where(.primary, .secondary):active{
    margin-top: 3px;
    border: none;
}

.secondary {
    background-color: #1f2032;
    border-bottom: 3px solid #1f2032;
    border-radius: 3px;
    text-transform: capitalize;
}

.secondary > a {
    color: #fff;
}

.secondary > a > span{
    display: none;
    transition: all .5s ease-in-out;
}

.secondary:hover > a > span {
    display: inline-block;  
}