.primary {
    border-radius: 3px;
    background-color: transparent;
    border-bottom: 3px solid #1f2032;
    text-transform: capitalize;
}

.primary svg {
    transition: all .1s ease-in;
}

.primary:hover svg {
    transform: translateX(5px);
}

:where(.primary, .secondary):active {
    margin-top: 3px;
    border: none;
}

:where(.primary, .secondary) span {
    margin-right: 5px;
}

.secondary {
    background-color: #1f2032;
    border-bottom: 3px solid #1f2032;
    border-radius: 3px;
    text-transform: capitalize;
}

.secondary > a {
    color: #fff !important;
}

.secondary > a > span {
    display: none;
    transition: all .5s ease-in-out;
}

.secondary:hover > a > span {
    display: inline-block;
}

.secondary span {
    color: #fff !important;
}

.icon__btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.icon__btn__secondary {
    padding: .1rem 0px;
    background-color: #1f2032;
    border: 1px solid transparent;
    color: #fff;
}

.icon__btn__secondary > span {
    margin: 0 !important;
}

.icon__btn__secondary:hover {
    color: #1f2032;
    background-color: transparent;
    border-color: #1f2032;
}

.icon__btn__primary {
    background-color: transparent;
    color: #1f2032;
}

.icon__btn__primary:hover {
    color: #fff;
    background-color: #1f2032;
}