.other__blog__list {
    width: 100%;
}

.other__blog__list__item {
    padding: .5rem ;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
}

.other__blog__list__item a {
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
    margin-left: .5rem;
}

.other__blog__list__item:hover {
    background-color: #f1f1f1;
}

.other__blog__list__item:last-child {
    border: none;
}