.quotes {
    /* height: 60vh; */
    padding: 3rem 0;
}

.box {
    position: relative;
    width: 50%;
    max-width: 650px;
    min-height: 120px;
    padding: 1rem 0rem;
    border: 1px solid #1f20325b;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.box__field {
    position: relative;
    transform: translate3d(0, 0, 0);
    flex: 0 0 100% !important;
    height: 100%;
    /* margin-right: 2rem; */
}

.text {
    font-weight: 300;
    font-size: 1rem;
}

.controller {
    position: absolute;
    width: 90%;
    bottom: -20px;    
}